<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-admin-analysis.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-list>
            <button ion-item text-wrap
                    (click)="selectUsers()">
                <ion-icon item-left name="contacts" color="primary"></ion-icon>
                {{"page-admin-analysis.labels.selectUsers" | translate}}
                <ion-note item-right>
                    <div *ngIf="rUserIds.get().length === totalUsers">
                        {{"page-admin-analysis.labels.all" | translate}}
                    </div>
                    <div *ngIf="rUserIds.get().length < totalUsers">
                        {{rUserIds.get().length}} / {{totalUsers}}
                    </div>
                </ion-note>
            </button>
        </ion-list>
    </ion-card>

    <analysis-report [userIds]="rUserIds"></analysis-report>

</ion-content>